# !sudo apt update
# !sudo apt install maven

html2text
datefinder
dask[complete]
nltk
dateparser
sutime
yfinance
pandas
scikit-learn

# For NGROK-Tunnel
jupyter-server-proxy
pyngrok

# Google Cloud Storage
fsspec==2023.4.0
gcsfs


# For neural network
transformers
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
