# !sudo apt update
# !sudo apt install maven
html2text
datefinder
dask[complete]
nltk
dateparser
# sutime
yfinance
pandas
scikit-learn

% For google cloud
# httplib2
# dask-cloudprovider
# google-api-python-client
# cryptography

% google cloud storage
google-cloud-storage
gcsfs

% For SSHCluster from dask
# asyncssh