# !sudo apt update
# !sudo apt install maven
html2text
datefinder
dask[complete]
nltk
dateparser
sutime
yfinance

% For google cloud
httplib2
dask-cloudprovider
google-api-python-client
cryptography

% For SSHCluster from dask
asyncssh